<div class="flex flex-wrap gap-7">
  <div role="status" class="max-w-sm animate-pulse" *ngFor="let item of arrayCount">
    <div class=" relative bg-gray-200 rounded-lg dark:bg-gray-700 w-[230px] h-[230px] mb-8">
      <div
        class="h-10 w-[70%] bg-gray-200 rounded-full dark:bg-gray-900 mb-2.5 px-4 py-2 absolute -bottom-6 left-1/2 transform -translate-x-1/2">
      </div>

    </div>

    <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[75px] mb-2.5"></div>
    <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[125px] mb-2.5"></div>
    <div class="h-2 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[75px]"></div>
  </div>

</div>
