<h2 class="font-bold text-rose-900 text-3xl mb-8">Desserts</h2>

<button>a</button>

<div *ngIf="products.length > 0">

  <ul class="flex flex-wrap gap-7">
    <li *ngFor="let product of products">
      <div class="relative mb-8">
        <img [src]="product.image.desktop" [alt]="product.name" class="max-h-56 rounded-lg" />

        <div *ngIf="productInCart(product.id) | async as cartProduct; else isNotInCart"
          class="flex justify-between items-center bg-red-500 text-white rounded-full h-10 px-4 py-2 w-fit min-w-[180px] absolute -bottom-8 left-1/2 transform -translate-x-1/2">

          <button class="flex items-center" (click)="handleRemoveProduct($event, cartProduct)">
            <mat-icon aria-hidden="false" aria-label="Remove one product to cart" fontIcon="do_not_disturb_on"
              class="opacity-70 hover:opacity-100 cursor-pointer"></mat-icon>
          </button>

          <ng-container>
            <span>{{ cartProduct.quantity }}</span>
          </ng-container>

          <button class="flex items-center" (click)="handleAddProduct($event, cartProduct)">
            <mat-icon aria-hidden="false" aria-label="Add one product to cart" fontIcon="add_shopping_cart"
              class="opacity-70 hover:opacity-100"></mat-icon>
          </button>
        </div>

        <ng-template #isNotInCart>
          <app-button class="w-fit min-w-[180px] absolute -bottom-8 left-1/2 transform -translate-x-1/2"
            variant="secondary" (buttonClick)="handleAddProduct($event, product)">

            <mat-icon aria-hidden="false" aria-label="Add to cart" fontIcon="add_shopping_cart"
              class="!text-red-500"></mat-icon>

            <span class="ml-2 font-semibold">
              Add to Cart
            </span>
          </app-button>
        </ng-template>

      </div>

      <p class="text-sm text-gray-500">{{ product.category }}</p>
      <p class="font-semibold text-red-900">{{ product.name }}</p>
      <p class="font-semibold text-red-500">{{ product.price | currency }}</p>

    </li>
  </ul>
</div>

<div *ngIf="products.length === 0">
  <p>Carregando produtos...</p>
</div>
